name: Metrics

on:
  schedule:
    - cron: "0 6 * * *" # daily at 06:00 UTC
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.svg

          base: header, activity
          config_timezone: Europe/Kyiv

          repositories_affiliations: owner, collaborator
          commits_authoring: >
            Aullum
            Aullum <roman.zidinov@gmail.com>
            Roman <roman.zidinov@gmail.com>
            Roman Zidinov <roman.zidinov@gmail.com>

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage

          plugin_traffic: no
          plugin_lines: no
